<!DOCTYPE html>
<html lang="en">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

<head>
    <meta charset="UTF-8">
    <title>Approve or Deny</title>
</head>
<body>
<p>Approve This client? </p>
<button id="approve" style="color: green">Approve</button>
<button id="deny" style="color: darkred">Deny</button>

</body>


<script>
    $(document).ready(function(){
        $("#approve").click(function() {
            //redirect ???
            var state = "[[${state}]]"
            var cd = "[[${client_id}]]"
            var rt = "[[${response_type}]]"
            var ru = "[[${redirect_uri}]]"


            // window.location.replace("http://localhost:8080/approve?client_id=123&redirect_uri=http://localhost:8080/callback&response_type=code");
            var data = {client_id: cd, redirect_uri: ru, response_type: rt, state: state};
            $.get("/server/approve", data, function(result, status) {
                console.log("Data: " + result + "\nStatus: " + status);
                window.location.replace(result);
            });
        });
    });
</script>

</html>